<div id="note">
  <div class="panel panel-primary">
    <div class="panel-heading">Ex 1 : Note Application</div>
    <div class="panel-body">
      <div class="form-group">
        <p><label for="message">Note :</label>
          <Textarea @value={{model.content}} @maxlength="{{model.MAX}}" rows="10" class="form-control"/>
        </p>
        <p>
          <button {{action "save" model}}class="btn btn-primary">Enregistrer</button>
          <button {{action "reset" model}} class="btn btn-primary">Effacer</button>
        </p>

        <div class="alert alert-info alert-dismissible" role="alert">Nombre de caractères restant : <span>{{model.size}}</span></div>
        {{#if model.alertVisible}}
          <div class="alert alert-dismissible alert-{{model.style}}" role="alert">
            {{model.info}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>
{{outlet}}